* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Spartan', sans-serif;    
}

section {    
    width: 80%;
    margin: 80px auto;
}

.top-left {
    text-align: center;  
}

h1 {    
    color: hsl(300, 43%, 22%);
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

.top-left p{
    color: hsl(300, 43%, 22%);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}

.top-right {
    text-align: center;  
    padding-top: 50px;
}

.top-right img {
    margin-right: 5px;
}

.top-right p {
    color: hsl(300, 43%, 22%);
    font-size: 14px;    
    font-weight: 700;    
    margin-top: 10px;
    margin-bottom: 50px;
}


.container-bottom {    
    margin: 0 auto;
}
.container-bottom img {
    border-radius: 100%;
    width: 40px;
    float: left;
}


.name {
    color: white;
    font-size: 13px;
    font-weight: 700;
    margin-left: 60px;
    margin-top: 5px;
}
.buyer {
    color: rgb(196, 44, 120);
    font-size: 13px;
    margin-left: 60px;
    margin-top: 3px;
}
.coment {
    color: white;
    font-size: 13px;
    line-height: 22px; 
    margin-top: 30px;
}


.card-left { 
    
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 50px 30px;
    
}
.card-center { 
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 50px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-right { 
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 50px 30px;    
    
}



.attribution {
    background-color: hsl(300, 43%, 22%);
    color:white;
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    
    bottom: 0;
    width: 100%;
    z-index: 3;
}  
.attribution a {
    color: rgb(196, 44, 120);
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}





@media (min-width: 1122px) {


.top-left {
    height: 270px;
    float:left;
    text-align: left;
    max-width: 420px;
}
section {    
    width: 80%;
    margin: 40px auto;
}
h1 {
    font-size: 46px;
    line-height: 50px;    
}
.top-left p{    
    padding-top: 10px;
}



.top-right {
    padding-top: 0px;
    text-align: right;  
    height:100%  
}
.top-right p {
    display: inline;
}
.rated-1 {
    padding-top: 45px;
}
.rated-2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.rated-1 p {
    margin-right: 114px;
    margin-left: 30px;
}
.rated-2 p {
    margin-right: 40px;
    margin-left: 30px;
}
.rated-3 p {
    margin-right: 0px;
    margin-left: 30px;
}
.container-bottom {
    clear: both;
}



.card-left {
    min-width: 350px;
    height:250px;
}
.card-center {
    min-width: 350px;
    height:250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}
.card-right {
    min-width: 350px;
    height:250px;
    margin-top: 30px;
}
.container-bottom {    
    margin: 0px 0px;
    display: flex;
       
}


}